@media screen and (min-width: 1024px) {

    #logo img {
        max-width: 60%;
    }

    .ubermenu-main .ubermenu-nav .ubermenu-item-level-0 {
        font-size: 14px !important;
    }
    #kad-banner .kad-header-left {
        width: 16.66666667%;
    }
    #kad-banner  .kad-header-right {
        width: 83.33333333%;
    }

}

