@media screen and (min-width:0) {
    .ubermenu-main .ubermenu-nav .ubermenu-item-level-0  {
        font-size: 14px !important;
    }

    #wp-live-chat {
        height: 105px;
    }

    .fa-remove {
        cursor: pointer;
    }
    /** Order page **/
    /** Disable the live chat **/
    .order-product .container {
        width: 100%;
    }

    .order-product #wplc_hovercard, #wp-live-chat{
        display:none !important;
    }

    #order-page .order-form-wrap {
        margin: 0 auto;
    }

    #order-page {
        overflow: hidden;
    }

    #order-page #order-form {
        margin: 0 auto;
    }

    #order-page .no-product {
        font-size: 0.85em;
        font-style: italic;
        font-weight: 500;
        color: red;
    }

    #order-page #barcode {
        height: 44px;
    }

    #order-page-header #total-amount {
        float: right;
        border: none;
        font-size: 3em;
        text-align: right;
        color: #b71414;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
    }

    #order-page #quantity {
        height: 44px;
    }

    #order-page #add-more-product {
        width: 100%;
    }

    #order-page button[type="submit"] {
        width: 100%;
    }

    #order-page .customer-basic-info .customer-name-group {
        padding-left: 0;
        padding-right: 0;
    }

    #order-page .customer-basic-info .customer-phone-group {
        padding-right: 0;
    }

    #order-page  .customer-address-group {
        float: right;
    }

    #product-list-show .product-item input {
        border: none;
    }

    #product-list-show .product-list-table th, td {
        width: 20%;
    }


    #product-list-show .product-list-table tbody{
        height: 350px;
        overflow-y: scroll;
    }




}

