.product_item.hidetheaction:hover .kad_add_to_cart,
.kad-btn-primary:hover,
.woocommerce-message .button:hover,
#payment #place_order:hover,
.cart_totals .checkout-button:hover {
    background: #ff7eb4;
}

.products div.product:hover {
    border: 1px solid #ff5ea1;
}

.page-header {
    border-bottom: none !important;
    border-top: none !important;
}